div.container,
div.posts {
  grid-template-columns: 1fr 1fr 1fr;
  margin 1rem 1rem;
  gap: 1rem;
}



body {
  margin: 1rem 1rem;
}

.card {
  min-width: unset;
}

div.lesgv-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.agenda img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}

@media (max-width: 800px) {
  div.posts {
    grid-template-columns: 1fr 1fr;
  }

}

@media (max-width: 550px) {
  div.posts {
    grid-template-columns: 1fr;
  }
  div.lesgv-footer {
    grid-template-columns: 1fr;
  }
}

