:root {
  --color-lesartsvoisins: #f0494d;
}
body {
  font-family: fengardoneue;
  margin: 0 auto;
  max-width: 1200px;
}
h1, h2, h3, h4, h5, h6, nav {
font-family: lack;
}
div.enclosing-grid {
  display: grid;
}

div.enclosing-grid img {
  scale: 90%;
}
.TL {
  grid-area: 1 / 1 / 3 / 4;
  display: flex;
  justify-content: flex-start;
}
.TL img {
  display: inline-block;
  align-self: flex-start;
}
.TR {
  grid-area: 1 / 2 / 3 / 8;
  z-index: 11;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.TR img {
  display: inline-block;
  align-self: flex-start;
}
.HH {
  grid-area: 2 / 1 / 4 / 7;
  z-index: 15;
  /* max-width: 100vw; */
  display: flex;
  justify-content: center;
}
.HH a {
  align-self: flex-end;
}
.HH a img {
  max-width: 100vw;
  height: auto;
}

.ML {
  grid-area: 2 / 1 / 5 / 3;
  z-index: 20;
}
.CT {
  grid-area: 4 / 2 / 5 / 5;
  z-index: 36;
  max-width: 86vw;
  background-color: #ffffffcc;
  padding: 1rem;
}
.CT h1 {
  text-align: center;
}
.MR {
  grid-area: 4 / 5 / 7 / 8;
  z-index: 17;
}
.MR img {
  position: relative;
}
.FL {
  grid-area: 5 / 2 / 6 / 4;
  z-index: 28;
  background-color: #ffffffcc;
  max-width: 86vw;
  padding: 1rem;
}
.FR {
  grid-area: 5 / 4 / 7 / 5;
  z-index: 29;
  background-color: #ffffffcc;
  padding: 1rem;
  max-width: 86vw;
}
.BL {
  grid-area: 5 / 1 / 8 / 4;
  z-index: 12;
  text-align: left;
  display: flex;
  justify-content: flex-start;
}
.BL a {
  align-self: flex-end;
}
.BC {
  grid-area: 7 / 1 / 8 / 6;
  z-index: 14;
  margin-top: 6rem;
  text-align: center;
}
.BR {
  grid-area: 5 / 1 / 8 / 8;
  z-index: 13;
  display: flex;
  justify-content: flex-end;
}
.BR img {
  display: inline-block;
  align-self: flex-end;
}


@media(max-width: 1200px) { 
  .FL {
    grid-area: 5 / 2 / 6 / 5;
  }
  .FR {
    grid-area: 6 / 2 / 7 / 5;  
  }
} 


@media(max-width: 700px) { 
  body {
    overflow-x: hidden;
  }
  .HH {
    grid-area: 2 / 1 / 4 / 8;
  }
  .CT {
    grid-area: 4 / 1 / 5 / 8;
  }
  .FL {
    grid-area: 5 / 1 / 6 / 8;
  }
  .FR {
    grid-area: 6 / 1 / 7 / 8;  
  }
  .MR {
    grid-area: 2 / 3 / 7 / 8;
  }
  .BR {
    grid-area: 5 / 1 / 8 / 8;
  }
  .BC {
    grid-area: 7 / 1 / 8 / 4;
  }
  .CT, .FL, .FR {
    max-width: 83vw;
    margin: 0 3vw;
  }
   div.enclosing-grid div {
    scale: 60%;
  }
  div.enclosing-grid div.HH,
  div.enclosing-grid div.CT,
  div.enclosing-grid div.FL,
  div.enclosing-grid div.FR{
    scale: unset;
  } 
  div.TL img {
    position:fixed;
    left: -12rem;
  }
  div.TR img {
    position:fixed;
    right: -15rem;
  }
  div.ML img {
    position:fixed;
    left: -10rem;
  }
  div.BC img {
    position:fixed;
    bottom: -15rem;
  }
  div.MR img {
    position:absolute;
    right: -15rem;
  }
  div.BL img {
    position:fixed;
    left: -10rem;
    bottom: -22rem;
  }
  div.BR img {
    position:fixed;
    right: -22rem;
    bottom: -22rem;
  }
} 
