<!--    Made by Erik Terwan    -->
<!--   24th of November 2015   -->
<!--        MIT License        -->
<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" id="menu-checkbox"/>
    
    <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>
    
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      {% for p in breadcrumbs %}
      <li><a href="{{ p.url }}">{{ p.title }}</a>
        {% if p.children %}
        <ul class="submenu">
          {% for c in p.children %}
            <li><a href="{{ c.url }}">{{ c.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      &nbsp&gt;&nbsp;</li>
      {% endfor %}
        <li class="active">{{ self.title }}</li>
        {% for item in menuitems %}
          <li>&nbsp&lt;&nbsp;<a href="{{  item.url }}">{{  item.title }}</a>
          <ul class="submenu">
            {% for subitem in item.get_children.specific %}
            {% if subitem.live %}
              <li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
            {% endif %}
            {% endfor %}
          </ul>
          </li>
        {% endfor %}
      <li> &nbsp;&lt;&nbsp;<a href="#" class="jour-nuit" id="jour-nuit" onclick="javascript:toggleDarkmode();">Jour et nuit</a></li>
      <li> &nbsp&lt;&nbsp;<a href="/admin/">Admin</a> </li>
    </ul>
  </div>
</nav>
