{% extends "lesgv/fait_ma_page.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}fait-ma-page-home{% endblock %}

{% block extra_extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lesgv/fait_ma_home_page_blog.css' %}" />
{% endblock extra_extra_css %}

{% block content %}

<div class="HH">
    <a href="{{ homepage_link }}">{% image site_logo max-1000x100 %}</a>
</div>

<div class="posts container">
    <div class="card">
        <div class="card-body">
            {% comment %}
            <div class="card-header">
                <a href="{{ homepage_link }}">{% image site_logo max-600x600 %}</a>
            </div>
            {% endcomment %}
            <div class="article">
                <p data-block-key="72zxg"><a href="https://www.lesgrandsvoisins.com/"><b>Les Grands Voisins</b></a>
                    est une <a href="/coop/">association coopérative</a> créée à partir d'un <a
                        href="/mission/manifeste/">manifeste rédigé par plus de 100</a> personnes à un lieu
                    parisien, dans des circonstances uniques. Nous proposons un voisinage complémentaire à vos
                    voisinages existants, un voisinage qui complète les interactions <i>entre individus et leurs
                        différentes entités</i> économiques, culturelles, artistiques, artisanales,
                    professionnelles, associatives, sociales, internationales et publiques.</p>
                <ul>
                    <li data-block-key="fcpaq">Voir nos <a href="/resdigita/">actions en numérique</a></li>
                    <li data-block-key="9mtv3">Voir nos actions en <a href="/arts/">arts</a></li>
                    <li data-block-key="2u9me">Participer à nos <a href="/coop/">coopérations</a></li>
                    <li data-block-key="d3e7f"><a href="/mission/">Apprendre sur Les Grands Voisins</a>, notre
                        association coopérative d'intérêt général</li>
                    <li data-block-key="cpon8">Contribuer en dons, en temps, en expertise ou en nature</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="article">
                <h2>
                    Agenda
                </h2>
            </div>
            <div class="card-header">
                <a href="https://www.laressourceriecreative.com/la-guinguette" target="_blank"><img src="https://ooo.lesgrandsvoisins.com/web/image/1617-7efe3ad8/guinguette-2022-PANO_20220714_172238%20%28Large%29.jpg"
                    alt="user" />
            </div>
            <div class="agenda">
                <p><a
                        href="https://www.laressourceriecreative.com/la-guinguette" target="_blank">
                        La Guinguette des la Ressourcerie créative</a></p>
                <p>En partenariat avec les acteurs associatifs de
                    La Porte d'Orléans et de Vanves</p>

                        <br/>Jusqu'en août</p>
                <div class="agenda-info">
                    <p><a href="https://www.laressourceriecreative.com/">La Ressourcerie Créative</a></p>
                </div>
                <div class="agenda-info">
                    {% comment %}
                    <p><small>{{item.published_at|date:"F d, Y"}}</small></p>
                    {% endcomment %}
                    <p>Jusqu'en août</p>
                </div>
            </div>
        </div>
    </div>
    {% include "lesgv/fragments/blog_posts.html" with posts=posts %}
</div>
<div class="lesgv-footer">
    {{ footer1|richtext }} 
    {{ footer2|richtext }} 
</div>

{% endblock content %}