{% extends "base.html" %}
{% load static wagtailcore_tags  %}

{% block body_class %}fait-ma-page{% endblock %}

{% block extra_css %}

<link rel="stylesheet" type="text/css"  href="{% static 'fonts/lack/stylesheet.css' %}" />
<link rel="stylesheet" type="text/css"  href="{% static 'fonts/fengardoneue/font.css' %}" />
<link rel="stylesheet" type="text/css"  href="{% static 'css/lesgv/lesgvcolors.css' %}" />
<link rel="stylesheet" type="text/css"  href="{% static 'css/lesgv/faitmapage.css' %}" />
<link rel="stylesheet" href="{% static 'css/lesgv.css' %}">
{% endblock extra_css %}

{% block content %}
<body>
  <div class="enclosing-grid">
    <img src="{% static 'images/faitmapage/lesartsvoisins_TL.svg' %}" class="TL">
    <a href="https://blog.lesgrandsvoisins.com"  class="HH"><img src="{% static 'images/faitmapage/lesgrandsvoisinscom.svg' %}" height="60"></a>
    <img src="{% static 'images/faitmapage/lesgrandsvoisins_MR.svg' %}" class="MR">
    <div class="CT">
      <h1>{{ page.title }} </h1>
        {{ page.body|richtext }} 
    </div>
    <img src="{% static 'images/faitmapage/lesartsvoisins_TR.svg' %}" class="TR">

    <div class="FL">
      {{ page.footer1|richtext }} 
    </div>
    <a class="BL" href="https://blog.lesgrandsvoisins.com/tag/lesartsvoisins/"><img src="{% static 'images/faitmapage/lesgrandsvoisins_BL.svg' %}" ></a>
    <div class="FR">
      {{ page.footer2|richtext }} 
    </div>
    <img src="{% static 'images/faitmapage/lesgrandsvoisins_BR.svg' %}" class="BR">


    <img src="{% static 'images/faitmapage/lesartsvoisins_ML.svg' %}" class="ML">

    <img src="{% static 'images/faitmapage/lesgrandsvoisins_BC.svg' %}" class="BC">


      




</div>

<!img src="./faitm_files/index.jpg" style="margin: 50vh auto;width: 100%;">

{% endblock content %}