{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}fait-ma-page{% endblock %}

{% block extra_css %}

<link rel="stylesheet" type="text/css"  href="{% static 'fonts/lack/stylesheet.css' %}" />
<link rel="stylesheet" type="text/css"  href="{% static 'fonts/fengardoneue/font.css' %}" />
<link rel="stylesheet" type="text/css"  href="{% static 'css/lesgv/lesgvcolors.css' %}" />
<link rel="stylesheet" type="text/css"  href="{% static 'css/lesgv/faitmapage.css' %}" />
<link rel="stylesheet" href="{% static 'css/lesgv.css' %}">
{% endblock extra_css %}

{% block content %}
<body>
  <div class="enclosing-grid">
    <div class="TL">
      <img src="{% static 'images/faitmapage/lesartsvoisins_TL.svg' %}">
    </div>
  <div class="HH">
    <a href="{{ homepage_link }}">{% image site_logo max-1000x100 %}</a>
  </div>
  <div class="MR">
    <img src="{% static 'images/faitmapage/lesgrandsvoisins_MR.svg' %}">
  </div>
    <div class="CT">
      <h1>{{ page.title }} </h1>
        {{ page.body|richtext }} 
        
<div class="breadcrumb-content">
  {% if self.get_ancestors|length > 1 %}
      <ul class="breadcrumb">
          {% for p in self.get_ancestors %}
              {% if p.is_root == False %}
                  <li><a href="{{ p.url }}">{{ p.title }}</a></li>
              {% endif %}
          {% endfor %}
          <li class="active">{{ self.title }}</li>
      </ul>
  {% endif %}
</div>
      </div>
  <div class="TR">
    <img src="{% static 'images/faitmapage/lesartsvoisins_TR.svg' %}">
  </div>
    <div class="FL">
      {{ page.footer1|richtext }} 
    </div>
    <div class="BL">
    <a href="https://blog.lesgrandsvoisins.com/tag/lesartsvoisins/"><img src="{% static 'images/faitmapage/lesgrandsvoisins_BL.svg' %}" ></a>
    </div>
    <div class="FR">
      {{ page.footer2|richtext }} 
    </div>
    <div class="BR">
    <img src="{% static 'images/faitmapage/lesgrandsvoisins_BR.svg' %}">
    </div>

    <div class="ML">
    <img src="{% static 'images/faitmapage/lesartsvoisins_ML.svg' %}">
    </div>
    <div class="BC">
    <img src="{% static 'images/faitmapage/lesgrandsvoisins_BC.svg' %}" class="BC">
   </div>

      




</div>

<!img src="./faitm_files/index.jpg" style="margin: 50vh auto;width: 100%;">

{% endblock content %}