{% extends "lesgv.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}fait-ma-page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css"  href="{% static 'css/lesgv/faitmapage.css' %}" />
{% block extra_extra_css %}
{% endblock extra_extra_css %}
{% endblock extra_css %}

{% block content %}
<body>
  <div class="enclosing-grid">
    <div class="TL cadre">
      <img src="{% static 'images/faitmapage/lesartsvoisins_TL.svg' %}">
    </div>
  <div class="HH">
    <a href="{{ homepage_link }}">{% image site_logo max-1000x100 %}</a>
  </div>
  <div class="MR cadre">
    <img src="{% static 'images/faitmapage/lesgrandsvoisins_MR.svg' %}">
  </div>
    <div class="CT">
      {% block CT %}
      <h1>{{ page.title }} </h1>
        {{ page.body|richtext }} 
        {% block extra_CT %}
        {# METTRE EXTRA CONTENU ICI #}
        {% endblock extra_CT %}
<div class="breadcrumb-content">
  {% if self.get_ancestors|length > 1 %}
      <ul class="breadcrumb">
          {% for p in self.get_ancestors %}
              {% if p.is_root == False %}
                  <li><a href="{{ p.url }}">{{ p.title }}</a></li>
              {% endif %}
          {% endfor %}
          <li class="active">{{ self.title }}</li>
      </ul>
  {% endif %}
</div>
{% endblock CT %}
      </div>

  <div class="TR cadre">
    <img src="{% static 'images/faitmapage/lesartsvoisins_TR.svg' %}">
  </div>
    <div class="FL">
      {% block FL %}
      {{ footer1|richtext }} 
      {% endblock FL %}
    </div>
    <div class="BL cadre">
    <a href="https://blog.lesgrandsvoisins.com/tag/lesartsvoisins/"><img src="{% static 'images/faitmapage/lesgrandsvoisins_BL.svg' %}" ></a>
    </div>
    <div class="FR cadre">
      {% block FR %}
      {{ footer2|richtext }} 
      {% endblock FR %}
    </div>
    <div class="BR cadre">
    <img src="{% static 'images/faitmapage/lesgrandsvoisins_BR.svg' %}">
    </div>

    <div class="ML cadre">
    <img src="{% static 'images/faitmapage/lesartsvoisins_ML.svg' %}">
    </div>
    <div class="BC cadre">
    <img src="{% static 'images/faitmapage/lesgrandsvoisins_BC.svg' %}" class="BC">
   </div>

</div>

<!img src="./faitm_files/index.jpg" style="margin: 50vh auto;width: 100%;">

{% endblock content %}